priority 2000
snippet xliff
    <?xml version="1.0"?>
    <xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
        <file source-language="en" datatype="plaintext" original="file.ext">
            <body>
                $0
            </body>
        </file>
    </xliff>
snippet tu
    <trans-unit id="${1:code}">
        <source>$1</source>
        <target>${2:target}</target>
    </trans-unit>
    $0
